.section__title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 26.63px;
    position: relative;
    padding: 100px 0 24px;
    margin: 0;
    border-bottom: 1px solid rgba(218, 218, 218);
}