.profile {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;
    margin: 74px 0 123px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    width: 410px;
}

.profile__input-list {
    list-style: none;
    margin: 0 0 220px;
    padding: 0;
}

.profile__input-wrapper {
    display: flex;
    max-width: 410px;
    flex-direction: column;
}

.profile__input-wrapper:first-child {
    border-bottom: 1px solid #E8E8E8;
}

.profile__input-wrapper:last-child {
    padding-top: 17px;
}

.profile__string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 14px;
  padding: 0 0 10px;
}

.profile__label {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.profile__input {
    all: unset;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0px;
    text-align: right;
    border: none;
    padding: 0;
    background-color: transparent;
    color: #FFF;
}

.profile__input:focus {
    outline: none;
    font-weight: 500;
}

.profile__submit-button {
    text-align: center;
    text-decoration: none;
    color: #ee3465;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    cursor: pointer;
    margin: 16px auto 40px;
}

.profile__submit-button:hover {
    opacity: 0.8;
}

.profile__submit-button_type_hidden {
    display: none;
}

.profile__submit-button_type_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
}

.profile__buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__buttons-wrapper_type_hidden {
    display: none;
}

.profile__button-save {
    opacity: 1;
    transition: opacity 0.3s ease;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 15px;
    font-size: 13px;
    color: #FFF;
}

.profile__button-save:disabled {
cursor: default;
opacity: 0.2;
}

.profile__error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #EE3465;
  display: block;
  text-align: end;
  padding-bottom: 5px;
}

.profile__success {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #295d3c;
  margin: 0 0 20px;
}

@media screen and (max-width: 1024px) {
    .profile__title {
        margin: 236px 0 96px;
    }

    .profile__input-list {
        margin-bottom: 210px;
    }
}

@media screen and (max-width: 568px) {
  .profile {
    padding: 0 30px;
  }

  .profile__form{
    width: 100%;
  }

    .profile__button {
        font-size: 12px;
        line-height: 1.21;
    }

    .profile__submit-button {
        width: 260px;
    }

    .profile__title {
        margin: 70px 0 80px;
    }

    .profile__input-list {
        margin-bottom: 350px;
    }

  .profile__success {
    font-size: 11px;
    line-height: 13px;
  }
}
