.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100dvh;
    padding: 329px 14px 30px;
}

.error__title {
    margin: 0;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
}

.error__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 auto;
}

.error__link {
    font-size: 12px;
    line-height: 15px;
    color: #4285F4;
    text-decoration: none;
}

.error__link:hover {
    opacity: 0.6;
}

@media (min-width: 768px) {
    .error {
        padding: 407px 30px 60px;
    }

    .error__title {
        font-size: 140px;
        line-height: 169px;
    }

    .error__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin: 5px 0 184px;
    }

    .error__link {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (min-width: 1280px) {
    .error {
        padding: 246px 70px 60px;
    }
}