.promo {
  background-color: #073042;
}

.promo__container {
  margin: 0;
  background-image: url(../../images/promo.svg);
  background-repeat: no-repeat;
  background-position: center 82px;
  background-size: 320px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  min-height: 524px;
  align-items: center;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  font-weight: 400;
padding-bottom: 45px;
  max-width: 730px;

}

@media screen and (max-width: 769px) { 

  .promo__title { 
    max-width: 700px; 
    width: calc(100% - 2*20px); 
    
  } 
  
  .promo__container {
    min-height: 784px;
    background-position: center;
  }
} 

@media screen and (max-width: 500px) { 

  .promo__title { 
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
  } 

  .promo__container {
    min-height: 570px;
    background-size: 248px;
  }
} 