.promo {
  background-color: #073042;
  ;
}

.promo__container {
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../../images/promo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 207px 10px 246px;
}

@media (min-width: 768px) {
  .promo__title {
    padding: 326px 19px 342px;
    letter-spacing: -2px;
    line-height: 58px;
    font-size: 50px;

    background-size: 320px;
    background-position-y: 224px;
  }
}

@media (min-width: 1280px) {
  .promo__title {
    padding: 184px 275px 224px;
    line-height: 58px;
    font-size: 50px;
    background-position-y: 82px;
  }

}