.search-form {
    margin: 0 70px;
    border-bottom: 1px solid #424242;
}

.search-form__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    background-color: #2F2F2F;
    border-radius: 40px;
    padding: 6px 0;
}


.search-form__input {
    padding-left: 22px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0px;
    text-align: left;

}

.search-form__input:focus {
    font-weight: 500;
    outline: 1px solid #000;
}

.search-form__input::placeholder {
    color: #8B8B8B;
}

.search-form__input:focus::placeholder {
    color: transparent;
}

.search-form__button {
    border-radius: 50%;
    margin-right: 6px;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
    background: url("../../images/find.svg");
}

.search-form__button:hover {
    opacity: 0.8;
}

.search-form__error {
    color: #FF004C;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.search-form__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0 70px;
}

.search-form__checkbox {
    font-size: 16px;
    appearance: none;
    align-self: center;
    width: 36px;
    height: 20px;
    background: #2BE080;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

.search-form__checkbox:checked {
    background: #2BE080;
}

.search-form__checkbox:after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    left: 0;
    transition: all .2s ease-in-out;
}

.search-form__checkbox:after{
    left: calc(100% - 20px);
}

.search-form__checkbox-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 13px;
    align-self: center;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .search-form {
        margin: 0 30px;
    }

    .search-form__box {
        padding-bottom: 60px;
    }

    .search-form__search {
        margin-top: 80px;
    }
}

@media screen and (max-width: 666px) {
    .search-form__box {
        align-self: center;
    }
}

@media screen and (max-width: 568px) {

    .search-form {
        margin: 0 14px;
    }
    .search-form__search {
        margin-top: 80px;
        padding: 0;
    }
    .search-form__error {
        font-size: 10px;
    }

    .search-form__checkbox-name {
        font-size: 11px;
    }

    .search-form__input {
        padding: 13px 16px;
        font-size: 12px;
        line-height: 1.5;
    }
}
