.search-form {
    padding: 0 30px;
}

.search-form__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px 0 30px;
    background-color: #2F2F2F;
    border-radius: 40px;
}


.search-form__input {
    width: 100%;
    background-color: #2F2F2F;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0px;
    text-align: left;
    padding: 15px 22px;
}

.search-form__input:focus {
    font-weight: 500;
    outline: 1px solid #000;
}

.search-form__input::placeholder {
    color: #8B8B8B;
}

.search-form__input:focus::placeholder {
    color: transparent;
}

.search-form__button {
    border-radius: 50%;
    margin-right: 6px;
    width: 34px;
    height: 34px;
    border: none;
    
    cursor: pointer;
    background: url("../../images/find.svg");

}

.search-form__button:hover {
    opacity: 0.8;
}

.search-form__error {
    color: #FF004C;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.search-form__box {
    display: flex;
    flex-direction: row;
    background-color: #2F2F2F;
    border-radius: 0 9px 9px 0;
    justify-content: center;
}

@media screen and (max-width: 666px) {
    .search-form__box {

        align-self: center;
        margin-top: 45px;
    }
}

.search-form__checkbox {
    font-size: 16px;
    appearance: none;
    align-self: center;
    width: 36px;
    height: 20px;
    background: #2BE080;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-left: 29px;
}

.search-form__checkbox:checked {
    background: #2BE080;
}

.search-form__checkbox:after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    left: 0;
    transition: all .2s ease-in-out;
}

.search-form__checkbox:after{
    left: calc(100% - 20px);
}

@media screen and (max-width: 768px) {
    .search-form__checkbox {
        margin-left: 19px;
    }
}

@media screen and (max-width: 321px) {
    .search-form__checkbox {
        margin-left: auto;
        margin-right: auto;
    }
}

.search-form__checkbox-name {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-left: 14px;
    margin-right: 30px;
    align-self: center;
    color: #ffffff;
}

@media screen and (max-width: 321px) {
    .search-form__checkbox-name {
        font-size: 11px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 568px) {

    .search-form__error {
        font-size: 10px;
    }

    .search-form__input {

        padding: 13px 16px;
        font-size: 12px;
        line-height: 1.5;

    }

    .search-form__search {
        padding: 0;

    }

    .search-form {
        padding: 0 14px 0;
    }
}

@media screen and (max-width: 1024px) {
    .search-form {
        padding: 0 30px;
    }
}