.search-form {
    height: 46px;
    padding: 0 70px 0;

}

.search-form__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 0 30px;
}


.search-form__input {
    width: 1016px;
    border-radius: 4px;
    background-color: #2F2F2F;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0px;
    text-align: left;
    padding: 15px 22px;
    margin-right: 10px;

}

.search-form__input:focus {
    font-weight: 500;
    outline: 1px solid #000;
}

.search-form__input::placeholder {
    color: #8B8B8B;
}

.search-form__input:focus::placeholder {
    color: transparent;
}

.search-form__button {
    border-radius: 50px;
    padding: 0;
    width: 34px;
    height: 34px;
    border: none;
    align-self: center;
    cursor: pointer;
    background: url("../../images/find.svg");
    margin-right: 30px;
}

.search-form__button:hover {
    opacity: 0.8;
}

.search-form__error {
    color: #FF004C;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.search-form__line {
    display: block;
    border-bottom: 1px solid #E8E8E8;
    margin: 39px 0 10px;
}

@media screen and (max-width: 568px) {
    .search-form__line {
        margin-top: 43px;
    }

    .search-form__error {
        font-size: 10px;
    }

    .search-form__input {
        width: 212px;
        padding: 13px 16px;
        font-size: 12px;
        line-height: 1.5;
    }

    .search-form__search {
        padding: 81px 0 44px;
    }

    .search-form {
        padding: 0 14px 0;
    }
}

@media screen and (max-width: 1024px) {
    .search-form {
        padding: 0 30px 0;
    }

    .search-form__input {
        width: 628px;
    }
}