.about {
    padding: 0 18px 75px;
    max-width: 1280px;
    margin: 0 auto;
}

.about__list {
    list-style: none;
    padding: 60px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.about__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: -0.72px;
    margin: 0;
    padding-bottom: 16px;
}

.about__text {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
}

.about__timeline {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 0;
    font-size: 11px;
    line-height: 13.31px;
}

.about__timeline-duration {
    background-color: #303030;
    padding: 11px 10px;
    text-align: center;
    line-height: 13px;
}

.about__timeline-duration:first-of-type {
    background-color: #3DDC84;
color: #000000;
}

.about__timeline-name {
    color: #A0A0A0;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    line-height: 12px;
}

@media screen and (min-width: 768px) {

    .about {
        padding: 0 50px 90px;
    }

    .about__subtitle {
        font-size: 20px;
        letter-spacing: -0.8px;
        line-height: 24.2px;
        padding-bottom: 22px;
    }

    .about__text {
        font-size: 12px;
        line-height: 18px;
    }

    .about__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        padding: 70px 0 93px;
    }

    .about__timeline {
        grid-template-columns: 140px 1fr;
        font-size: 14px;
        line-height: 16.94px;
    }

    .about__timeline-duration {
        padding: 9px 10px;
        text-align: center;
        line-height: 18px;
    }

    .about__timeline-name {
        padding-top: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1279px) {

    .about {
        padding: 0 70px 105px;
    }

    .about__list {
        gap: 40px;
        padding-bottom: 110px;
    }

    .about__text {
        font-size: 14px;
        line-height: 20px;
    }

    .about__subtitle {
        padding-bottom: 26px;
    }

    .about__timeline {
        grid-template-columns: 228px 1fr;
    }
}