.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0 70px;
}


.checkbox__input {
    font-size: 16px;
    appearance: none;
    align-self: center;
    width: 36px;
    height: 20px;
    background: #2BE080;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

.checkbox__input:checked {
    background: #2BE080;
}

.checkbox__input:after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    left: 0;
    transition: all .2s ease-in-out;
}

.checkbox__input:after{
    left: calc(100% - 20px);
}

.checkbox__name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 13px;
    align-self: center;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 666px) {
    .checkbox {
        align-self: center;
    }
}

@media screen and (max-width: 568px) {
    .checkbox__name {
        font-size: 11px;
    }
}